<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
	id="de.paginagmbh.oxygen.clipboardEditorVariable"
    name="ClipboardEditorVariable"
    description="This plugin adds support for new editor variable ${clipboard} which can be used to access clipboard content in plain text."
    version="0.0.2"
    vendor="pagina GmbH Publikationstechnologien | www.pagina-online.de"
    class="de.paginagmbh.oxygen.clipboardEditorVariable.ClipboardEditorVariablePlugin"
    classLoaderType="preferReferencedResources">
    <runtime>
        <library name="lib/clipboardEditorVariable.jar"/>
    </runtime>
    <extension type="WorkspaceAccess"
        class="de.paginagmbh.oxygen.clipboardEditorVariable.ClipboardEditorVariablePluginExtension"/>
    
</plugin>